<div class="row" data-hook="admin_box_slots_form_fields">
  <div class="col-md-8">
    <div data-hook="length" class="field">
      <%= f.label :label %><br>
      <%= f.text_field :label, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-4">
    <div data-hook="height" class="field">
      <%= f.label Spree.t(:default) %><br>
      <%= f.check_box :default, class: "form-control" %>
    </div>
  </div>
</div>