---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><RateRequest xmlns="http://fedex.com/ws/rate/v13">  <WebAuthenticationDetail>    <UserCredential>      <Key>xkBPuqiFmGrOU4jL</Key>      <Password>UGu5boYODXZ2GEDyUN4Xi1v8E</Password>    </UserCredential>  </WebAuthenticationDetail>  <ClientDetail>    <AccountNumber>510087143</AccountNumber>    <MeterNumber>118723830</MeterNumber>  </ClientDetail>  <TransactionDetail>    <CustomerTransactionId>ActiveShipping</CustomerTransactionId>  </TransactionDetail>  <Version>    <ServiceId>crs</ServiceId>    <Major>13</Major>    <Intermediate>0</Intermediate>    <Minor>0</Minor>  </Version>  <ReturnTransitAndCommit>true</ReturnTransitAndCommit>  <RequestedShipment>    <ShipTimestamp>2025-04-29T12:27:29-06:00</ShipTimestamp>    <DropoffType>REGULAR_PICKUP</DropoffType>    <PackagingType>YOUR_PACKAGING</PackagingType>    <Shipper>      <Address>        <StreetLines>123
        Test Street</StreetLines>        <City>Ottawa</City>        <PostalCode>K1P1J1</PostalCode>        <CountryCode>CA</CountryCode>        <Residential>true</Residential>      </Address>    </Shipper>    <Recipient>      <Address>        <StreetLines>5145
        North California Avenue</StreetLines>        <StreetLines>Northwest</StreetLines>        <City>Chicago</City>        <PostalCode>60601</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Recipient>    <SmartPostDetail>      <Indicia>PARCEL_SELECT</Indicia>      <HubId>5902</HubId>    </SmartPostDetail>    <RateRequestTypes>ACCOUNT</RateRequestTypes>    <PackageCount>2</PackageCount>    <RequestedPackageLineItems>      <GroupPackageCount>1</GroupPackageCount>      <Weight>        <Units>KG</Units>        <Value>0.142</Value>      </Weight>      <Dimensions>        <Length>3</Length>        <Width>3</Width>        <Height>3</Height>        <Units>CM</Units>      </Dimensions>    </RequestedPackageLineItems>    <RequestedPackageLineItems>      <GroupPackageCount>1</GroupPackageCount>      <Weight>        <Units>KG</Units>        <Value>0.1</Value>      </Weight>      <Dimensions>        <Length>3</Length>        <Width>3</Width>        <Height>3</Height>        <Units>CM</Units>      </Dimensions>    </RequestedPackageLineItems>  </RequestedShipment></RateRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oracle-Dms-Rid:
      - '0'
      X-Csr-Log-Transaction-Id:
      - 05fd9180-add9-49cc-83e4-f4d94fd04c94
      X-Oracle-Dms-Ecid:
      - 39db90a6-9a7e-4ccc-900a-516fe00446f7-0007ab18
      X-Csr-Elapsed-Millis:
      - '3432'
      Responsesslprotocol:
      - TLSv1.3
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="UTF-8"?><RateReply xmlns="http://fedex.com/ws/rate/v13"><HighestSeverity>WARNING</HighestSeverity><Notifications><Severity>WARNING</Severity><Source>crs</Source><Code>608</Code><Message>Commit
        Info could not be obtained for one or more services: INTERNATIONAL_FIRST;
        INTERNATIONAL_PRIORITY; INTERNATIONAL_ECONOMY; INTERNATIONAL_PRIORITY_DISTRIBUTION;
        ; ; ; ; ; ; .</Message><LocalizedMessage>Commit Info could not be obtained
        for one or more services: INTERNATIONAL_FIRST; INTERNATIONAL_PRIORITY; INTERNATIONAL_ECONOMY;
        INTERNATIONAL_PRIORITY_DISTRIBUTION; ; ; ; ; ; ; .</LocalizedMessage><MessageParameters><Id>SERVICE_TYPE_1</Id><Value>INTERNATIONAL_FIRST</Value></MessageParameters><MessageParameters><Id>SERVICE_TYPE_2</Id><Value>INTERNATIONAL_PRIORITY</Value></MessageParameters><MessageParameters><Id>SERVICE_TYPE_3</Id><Value>INTERNATIONAL_ECONOMY</Value></MessageParameters><MessageParameters><Id>SERVICE_TYPE_4</Id><Value>INTERNATIONAL_PRIORITY_DISTRIBUTION</Value></MessageParameters></Notifications><Notifications><Severity>WARNING</Severity><Source>crs</Source><Code>201</Code><Message>Some
        s[...]
